<header>
    <nav>
        <ul>
            <li>
                <a id="home" class="left-floated" href="/">MoneyGone</a>
            </li>
        </ul>
        <ul>
            {{#if isLoggedIn}}
            <li>
                <a class="right-floated" href="/user/profile/{{_id}}">[{{username}} profile]</a>
            </li>
            <li>
                <a class="right-floated" href="/user/logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a class="right-floated" href="/user/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>
{{!-- 
    <section>
        {{#each errorMessages}}
        <p>{{this}}</p>
        {{/each}}
    </section> --}}